@import "./inkline-variables/index";
@import "@inkline/inkline/css/index";
@import "@inkline/inkline/css/utilities";

:root {
    /**
       * Gap variables
       */
    --gap: var(--margin-top);
    --gap-125: calc(var(--margin-top) * 1.25);
    --gap-15: calc(var(--margin-top) * 1.5);
    --gap-175: calc(var(--margin-top) * 1.75);
    --gap-2: var(--margin-top-2);
    --gap-3: var(--margin-top-3);
    --gap-4: var(--margin-top-4);
    --gap-5: var(--margin-top-5);
    --gap-1-5: var(--margin-top-1-5);
    --gap-1-4: var(--margin-top-1-4);
    --gap-3-4: var(--margin-top-3-4);
    --gap-1-3: var(--margin-top-1-3);
    --gap-2-3: var(--margin-top-2-3);
    --gap-1-2: var(--margin-top-1-2);

    --container-max-width: 50rem;
    --container-max-width-lg: 60rem;

    --transition-timing-function: ease-in-out;
    --transition-color: color var(--transition-timing-function) var(--transition-duration);
    --transform-hover: scale(1.25);

    --border-width-bold: 0.15rem;
    --border: var(--border-width-bold) solid var(--body--border-top-color);
    --border-radius-rounded: 1rem;
}

@include breakpoint-down(sm) {
    :root {
        --font-size: 1rem;
    }
}

body {
    font-weight: var(--font-weight-light);
    font-family: var(--font-family-primary-base);
    transition-property: color, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    .container {
        max-width: var(--container-max-width-lg);
        margin-inline: auto;
    }

    transition: background-color var(--transition-timing-function) var(--transition-duration),
    border-color var(--transition-timing-function) var(--transition-duration),
    color var(--transition-timing-function) var(--transition-duration);


    * {
        transition: inherit !important;

        &:before,
        &:after {
            transition: inherit;
        }
    }
}

html,
body,
#app {
    min-height: 100%;
    height: 100%;


    * {
        outline-color: var(--color-primary);
    }
}

#app {
    overflow: auto;
}

code {
    font-family: var(--font-family-primary-monospace);
    color: var(--color-light);
}
